* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.titleContainer {
    text-align: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.titleContainer h1 {
    margin: 0;
}

.controlsContainer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}